<h1>結果画面</h1>
<div> <%= @game.name %>さんの結果は...
    <div>
        正解率：　<%= @game.correct_answers %> (<%= @game.percentage_correct_answers %>%)
    </div>
    <% if @game.percentage_correct_answers >= 80 %>
        <div>Great!!</div>
    <% else %>    
        <div>Let's,Retry</div>
    <% end %>
    <%= link_to "Top画面へ戻る", root_path %>
</div>