<div class="row">
  <div class="result-card col s12 m8 l6 offset-m2 offset-l3 z-depth-1 center-align">
    <%= render 'games/result', game: @game %> 
    <%= link_to "Top画面へ戻る", root_path, class: "waves-effect waves-light btn-large" %>
  </div>
</div>